:root {
  --O-color: #2196f3;
  --X-color: #f44336;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  align-items: center;
  justify-content: center;

  font-family: sans-serif;
  height: 100vh;
  background-color: #23233b;
}

.title {
  text-align: center;
  font-size: 2rem;
  color: #ff5a18;
  margin-bottom: 2rem;
}

.vencedor {
  text-align: center;
  font-size: 3rem;
  color: yellow;
  margin-bottom: 2rem;
}

.tabuleiro {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 160px);
  gap: 1rem;
}

.campo {
  display: grid;
  align-items: center;
  justify-content: center;

  background-color: white;
  border-radius: 5px;
  font-size: 3rem;
  font-weight: bold;
  color: #00000066;

  cursor: pointer;

}

.campo:not(.O):not(.X):hover {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04) ;
}

.campo.O, .campo.X {
  cursor: not-allowed;
}

.campo.O {
  background-color: var(--O-color);
}

.campo.X {
  background-color: var(--X-color);
}